body {
    margin: 0;
    height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 10rem;
}

.hlogo {
    color: #F9FAF8;

}

.links {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 1.125rem;
}

header {
    background-color: #1F2937;
}

button {
    color: white;
    background-color: #3882F6;
}

.SignUp {
    padding: 0.5em 1.5em;
    border: none;
    border-radius: 0.5em;
    font-size: 1rem;
}

.logoImage img {
    width: 80vh;
    height: 30vh;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 6rem;
    gap: 3rem
}

.headerTitle {
    text-align: left;
    width: 30%;
}

.headerTitle h1 {
    color: #F9FAF8;
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
}

.headerTitle p {
    color: #E5E7EB;
    font-size: 1.5rem;
    margin: 1rem auto;
}

main h1 {
    color: #1F2937;
    font-weight: 800;
    font-size: 2.25rem;
    text-align: center;
    margin: 3rem auto;
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

div.logos img {
    height: 20vh;
}

.logoImages {
    text-align: center;
    width: 10%;
}

main {
    margin-bottom: 5%;
}

article {
    background-color: #E5E7EB;
}

.quote h3 {
    margin: 0;
    font-size: 1.5rem;
    text-align: right;
}

.quote p {
    font-size: 2.25rem;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    margin: 0;
}

.quote {
    width: 50%;
    padding: 5rem;
    margin: 0 auto;
}

section {
    background-color: #3882F6;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;
    padding: 2rem;
    margin: 5rem 15rem;
    border-radius: 0.5rem;
}

section div h3 {
    font-size: 1.5rem;
    color: white;
    text-align: left;
    margin: 0;
}

section div p {
    font-size: 1rem;
    color: white;
    text-align: left;
    margin: 0;
}

section div button {
    border: 1px solid white;
    border-radius: 0.5rem;
    font-size: 1rem;
    padding: 0.25rem 2rem;
}

footer {
    margin: 0;
    text-align: center;
    background-color: #1F2937;
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
}

button:hover {
    background-color: white;
}

button a:hover {
    color: black;
}